* {
  margin: 0;
  padding: 0;
}

.navindex {
  background-color: rgb(126, 120, 120);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.navindex .logonav {
  position: absolute;
  left: 18%;
  width: 32px;
  height: 32px;
}
.navindex h1 {
  position: absolute;
  left: 20%;
}
.navindex ul {
  list-style-type: none;
  display: flex;
  margin-top: 10px;
}
.navindex li a {
  position: relative;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 10px;
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  margin-left: 10px;
  left: 435px;
}
.navindex input {
  position: absolute;
  left: 29%;
  width: 600px;
  height: 40px;
  margin: 5px;
}
.navindex .buscadorindex {
  left: 450px;
  border-radius: 5px;
  border: 1px solid;
}
.menunav {
  position: absolute;
  top: 70px;
  background-color: #dddddd;
  width: 100%;
  height: 44px;
}
.headerindex {
  background-color: rgb(199, 199, 199);
}
.headerindex .imgindex {
  padding-top: 50px;
  width: 100%;
  height: 500px;
}
.headerindex .titulotarjetas {
  display: flex;
  padding: 10px;
  margin-left: 300px;
  font-family: Arial, Helvetica, sans-serif;
}
.headerindex .tarjetasindex {
  display: flex;
  margin-left: 244px;
  margin-top: 50px;
  border: 1px;
  background-color: rgb(161, 159, 159);
  height: 270px;
  width: 950px;

}
.headerindex .tarjetaindexi9 {
  background-color: rgb(192, 192, 192);
  width: 200px;
  height: 250px;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 10px;
}
.headerindex .img-i9 {
  margin-left: 8px;
  width: 150px;
  height: 150px;
}
.headerindex .i9-desc-index {
  margin-left: 5px;
}
.headerindex .tarjetaindexmother {
  background-color: rgb(192, 192, 192);
  width: 200px;
  height: 250px;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 10px;
  margin-left: 30px;
}
.headerindex .img-placamadreindex {
  width: 150px;
  height: 150px;
  margin-top: 5px;
}
.headerindex .desc-placamadreindex {
  margin-left: 10px;
}
.headerindex .tarjetaindexfuente {
  background-color: rgb(192, 192, 192);
  width: 200px;
  height: 250px;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 10px;
  margin-left: 30px;
}
.headerindex .img-fuente {
  width: 150px;
  height: 150px;
  margin-top: 5px;
}
.headerindex .tarjetaplacavideo {
  background-color: rgb(192, 192, 192);
  width: 200px;
  height: 250px;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 10px;
  margin-left: 30px;
}
.headerindex .img-placa-de-video-index {
  width: 150px;
  height: 150px;
  margin-top: 5px;
}
.headerindex .desc-placa-de-video-index {
  text-align: center;
}

.titulofooter {
  margin-left: 50px;
  padding-top: 50px;
  position: absolute;
  left: 35px;
}

.logofooter {
  position: relative;
  margin-left: 50px;
  padding-top: 50px;
  width: 32px;
  height: 32px;
}

.descfooter1 {
  display: flex;
  flex-wrap: wrap;
  height: 30px;
  width: 300px;
  margin-left: 50px;
  margin-top: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.descfooter2 {
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  width: 300px;
  margin: 50px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.descfooter {
  position: relative;
  margin-left: 250px;
  margin-top: 100px;
}

.footer {
  display: flex;
}

.info-contacto-footer {
  display: flex;
  flex-direction: column;
  margin-top: 155px;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.info-contacto-1 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.info-contacto-2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.info-contacto-3 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.info-contacto-4 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.inforedesfooter {
  display: flex;
  flex-direction: column;
  margin-top: 155px;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.redesfooter {
  display: flex;
  flex-direction: column;
  width: 32px;
  height: 32px;
}
.slide {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin-top: 50px;
}
.slide-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc( 300px + 3em);
}
.slide-open:checked + .slide-item {
  position: static;
  opacity: 100;
}
.slide-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}
.slide-item img {
  display: block;
  height: 348px;
  width: 1450px;
}
.slide-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}
.slide-control.prev {
  left: 2%;
}
.slide-control.next {
  right: 2%;
}
.slide-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
  display: block;
}
.slide-indicador {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
.slide-indicador li {
  display: inline-block;
  margin: 0 5px;
}
.slide-circulo {
  color: #828282;
  cursor: pointer;
  display: block;
  font-size: 35px;
}
.slide-circulo:hover {
  color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
   li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
    li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
    li:nth-child(3) .slide-circulo {
  color: #428bca;
}
#titulo {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Open Sans', sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
       -1px 0px 2px rgba(255, 255, 255, 0);
}
.mainindex{
  background-color: rgb(36, 32, 32);
  margin-top: 50px;
  height: 500px;
}
.productosindex{
  margin: 10px;  
}
.mejoratushabilidades{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 300px;
  position: relative;
  top: 15px;
}
.imgproductoindex1{
  position:relative;
  left: 385px;
}
.imgproductoindex2{
  position: relative;
  right: 600px;
}
.imgproductoindex3{
  position: relative;
  left: 110px;
}
.productosindex{
  position: relative;
  top: 20px;
  right: 5px;
}
.textocentrodeayuda{
  text-align: center;
  margin-top: 100px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(0, 0, 0);
}
.textocentrodeayuda h1{
  position:relative;
  bottom:68px;
}
.textocentrodeayuda h2{
  color: rgb(84, 88, 90);
  margin-right: 45px;
}
.textocentrodeayuda img{
  position:relative;
  right: 260px;
}
.iconoscentrodeayuda{
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 50px;
  margin-bottom: 350px;
  margin-left: 490px;
  position: relative;
  bottom: 40px;
}
.iconoscentrodeayuda img{
  margin-top: 30px;
  margin-bottom: 10px;
}
.infocentrodeayuda{
  position: relative;
  top: 107px;
  right: 50px;
  margin-left: 620px;
}
.horarios{
  position: relative;
  top: 76px;
}
.numero{
  position: relative;
  top: 140px
}
.whatsapp{
  position: relative;
  top: 210px;
}
.gmail{
  position: relative;
  top: 278px;
}
