.bodycomponentes{
    background-color: #eee;
    .img-componentes-header{
        height: 300px;
        width: 1300px;
        margin-top: 60px;
        margin-left: 70px;
      }
      .busquedacomponentes{
        position: relative;
        top: 60px;
        left: 400px;
        height: 30px;
        width: 400px;
        border-radius: 20px;
        border: solid 2px;
        color: #666469;
      }
  }