.tarjetasperifericos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin-left: 400px;
    margin-top: 100px;
    grid-gap: 15px;
    width: 910px;
    color: #c983ff;
    .tarjetas-componentes1{
        width: 300px;
        height: 340px;
        cursor: default;
        border-radius: 10px;
        overflow: hidden;
        background-color: #ffffff;
        border: solid 1px;
      }
      .tarjetas-componentes1 img{
        width: 250px;
        height: 150px;
        position: relative;
        left: 25px;
        margin-top: 10px;
      }
      .tarjetas-componentes1 h3{
        text-align: center;
        margin-top: 50px;
        font-weight: 100;
      }
      .tarjetas-componentes1 p{
        text-align: center;
        margin-top: 40px;
      }
      .tarjetas-componentes2{
        width: 300px;
        height: 340px;
        cursor: default;
        border-radius: 10px;
        overflow: hidden;
        background-color: #ffffff;
        border: solid 1px;
      }
      .tarjetas-componentes2 img{
        width: 250px;
        height: 150px;
        position: relative;
        left: 25px;
        margin-top: 10px;
      }
      .tarjetas-componentes2 h3{
        text-align: center;
        margin-top: 50px;
        font-weight: 100;
      }
      .tarjetas-componentes2 p{
        text-align: center;
        margin-top: 40px;
      }
      .tarjetas-componentes3{
        width: 300px;
        height: 340px;
        cursor: default;
        border-radius: 10px;
        overflow: hidden;
        background-color: #ffffff;
        border: solid 1px;
      }
      .tarjetas-componentes3 img{
        width: 250px;
        height: 150px;
        position: relative;
        left: 25px;
        margin-top: 10px;
      }
      .tarjetas-componentes3 h3{
        text-align: center;
        margin-top: 50px;
        font-weight: 100;
      }
      .tarjetas-componentes3 p{
        text-align: center;
        margin-top: 40px;
      }
      .tarjetas-componentes4{
        width: 300px;
        height: 340px;
        cursor: default;
        border-radius: 10px;
        overflow: hidden;
        background-color: #ffffff;
        border: solid 1px;
      }
      .tarjetas-componentes4 img{
        width: 250px;
        height: 150px;
        position: relative;
        left: 25px;
        margin-top: 10px;
      }
      .tarjetas-componentes4 h3{
        text-align: center;
        margin-top: 50px;
        font-weight: 100;
      }
      .tarjetas-componentes4 p{
        text-align: center;
        margin-top: 40px;
      }
      .tarjetas-componentes5{
        width: 300px;
        height: 340px;
        cursor: default;
        border-radius: 10px;
        overflow: hidden;
        background-color: #ffffff;
        border: solid 1px;
      }
      .tarjetas-componentes5 img{
        width: 250px;
        height: 150px;
        position: relative;
        left: 25px;
        margin-top: 10px;
      }
      .tarjetas-componentes5 h3{
        text-align: center;
        margin-top: 50px;
        font-weight: 100;
      }
      .tarjetas-componentes5 p{
        text-align: center;
        margin-top: 40px;
      }
      .tarjetas-componentes6{
        width: 300px;
        height: 340px;
        cursor: default;
        border-radius: 10px;
        overflow: hidden;
        background-color: #ffffff;
        border: solid 1px;
      }
      .tarjetas-componentes6 img{
        width: 250px;
        height: 150px;
        position: relative;
        left: 25px;
        margin-top: 10px;
      }
      .tarjetas-componentes6 h3{
        text-align: center;
        margin-top: 50px;
        font-weight: 100;
      }
      .tarjetas-componentes6 p{
        text-align: center;
        margin-top: 40px;
      }
      .tarjetas-componentes7{
        width: 300px;
        height: 340px;
        cursor: default;
        border-radius: 10px;
        overflow: hidden;
        background-color: #ffffff;
        border: solid 1px;
      }
      .tarjetas-componentes7 img{
        width: 250px;
        height: 150px;
        position: relative;
        left: 25px;
        margin-top: 10px;
      }
      .tarjetas-componentes7 h3{
        text-align: center;
        margin-top: 50px;
        font-weight: 100;
      }
      .tarjetas-componentes7 p{
        text-align: center;
        margin-top: 60px;
      }
      .tarjetas-componentes8{
        width: 300px;
        height: 340px;
        cursor: default;
        border-radius: 10px;
        overflow: hidden;
        background-color: #ffffff;
        border: solid 1px;
      }
      .tarjetas-componentes8 img{
        width: 250px;
        height: 150px;
        position: relative;
        left: 25px;
        margin-top: 10px;
      }
      .tarjetas-componentes8 h3{
        text-align: center;
        margin-top: 50px;
        font-weight: 100;
      }
      .tarjetas-componentes8 p{
        text-align: center;
        margin-top: 40px;
      }
      .tarjetas-componentes9{
        width: 300px;
        height: 340px;
        cursor: default;
        border-radius: 10px;
        overflow: hidden;
        background-color: #ffffff;
        border: solid 1px;
      }
      .tarjetas-componentes9 img{
        width: 250px;
        height: 150px;
        position: relative;
        left: 25px;
        margin-top: 10px;
      }
      .tarjetas-componentes9 h3{
        text-align: center;
        margin-top: 50px;
        font-weight: 100;
      }
      .tarjetas-componentes9 p{
        text-align: center;
        margin-top: 20px;
      }
  }