.titulofooter {
    margin-left: 50px;
    padding-top: 50px;
    position: absolute;
    left: 35px;
  }
  
  .logofooter {
    position: relative;
    margin-left: 50px;
    padding-top: 50px;
    width: 32px;
    height: 32px;
  }
  
  .descfooter1 {
    display: flex;
    flex-wrap: wrap;
    height: 30px;
    width: 300px;
    margin-left: 50px;
    margin-top: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .descfooter2 {
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    width: 300px;
    margin: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .descfooter {
    position: relative;
    margin-left: 250px;
    margin-top: 100px;
  }
  
  .footer {
    display: flex;
  }
  
  .info-contacto-footer {
    display: flex;
    flex-direction: column;
    margin-top: 155px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .info-contacto-1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .info-contacto-2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .info-contacto-3 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .info-contacto-4 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .inforedesfooter {
    display: flex;
    flex-direction: column;
    margin-top: 155px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .redesfooter {
    display: flex;
    flex-direction: column;
    width: 32px;
    height: 32px;
  }