.bodyproductos{
    background-color: #eee;
  }
.headerproductos{
    margin-top: 44px;

    img{
        position: relative;
        left: 115px;
        top: 14px;
      }
    .botonproductosbusqueda{
        position: relative;
        top: 110px;
        right: 800px;
        height: 30px;
        width: 200px;
        border-radius: 5px;
        border: solid 2px;
        color: #666469;
      }
      .logonavidad{
        height: 70px;
        margin-top: 40px;
        margin-left: 50px;
      }
  }